.cardBg{
    // background: linear-gradient(to bottom, rgba(220, 38, 38, 0) 0%, rgba(220, 38, 38, 0.3));
    // background-color: #183240;
    border-radius: 10px;
    background-color: #0b1128;
    overflow: hidden;
    position: relative;

    .statsList{
        overflow: auto;
        background-color: #183240;
    }

   
}


// .lineINput{
//     border: 1px solid #cbd5e1;;
// }

.successGrd{
    background: linear-gradient(to bottom, rgba(5, 150, 105, 0) 0%, rgba(5, 150, 105, 0.4) 60%);
}

.dangerGrd{
    background: linear-gradient(to bottom, rgba(220, 38, 38, 0) 0%, rgba(220, 38, 38, 0.4));
}

.detailHead{
    background-color: #183240;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 1px solid #cbd5e1; 
}

