<div class="flex justify-content-between items-items-center w-full">
  <div class="flex gap-2 align-items-center">
    <div (click)="visible = true" class="flex justify-content-center align-items-center" style="font-size: 30px" [appSvgIcon]="'menu'"></div>
    <div class="text-lg font-semibold">Parlay Proz</div>
  </div>
  <div class="profileAvatar">
    <div>{{getNameFirstLetter()}}</div>
    <!-- <img src="../../../assets/images/main-avatar.png" /> -->
  </div>
</div>


<p-drawer #drawerRef [(visible)]="visible">
  <ng-template #headless>
    <div class="sidebar">
      <div class="logo-details">
        <div><img style="width: 40px;" src="../../../assets/images/logo.PNG" /></div>
        <div class="logo_name ml-3">Parly Proz</div>
      </div>
      <ul class="nav-list">
        <div class="menu_title">Analysis</div>
        <li class="item">
          <div [routerLink]="'/'" (click)="visible = false" class="nav_link submenu_item gap-3">
             <div [appSvgIcon]="'graph'" style="font-size: 22px;"></div>
            <span class="navlink">Projections</span>
          </div>
        </li>
    
        <!-- <li class="item">
          <div href="#" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-home-alt"></i>
            </span>
            <span class="navlink">Discrepancies</span>
          </div>
        </li> -->
    
        <li class="item">
          <div [routerLink]="'/players'" (click)="visible = false" class="nav_link submenu_item gap-3">
            <div [appSvgIcon]="'players'" style="font-size: 22px;"></div>
            <span class="navlink">Players</span>
          </div>
        </li>

          <li class="item">
          <div (click)="visible = false;openWhatsAppGroup()" class="nav_link submenu_item gap-3">
            <div [appSvgIcon]="'whatsapp'" style="font-size: 22px;"></div>
            <span class="navlink">Join WhatsApp Group</span>
          </div>
        </li>
    
        <li  class="profile">
          <div (click)="logout()" class="logout">
            Logout
          </div>
          
        </li>
        @if(updateDate){
          <div class="updateTime text-xs">Last Update: {{updateDate}}</div>
        }
    
      </ul>
    </div>
  </ng-template>
</p-drawer>