.statIcon{
    border: 1px solid #9233DF;
    cursor: pointer;
    background-color: #F1F5F9;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 12px;
    font-weight: 800;
  }

  .emptyMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 323px);
  }