.statIcon{
    border: 1px solid #9233DF;
    cursor: pointer;
    background-color: #F1F5F9;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center ;
  }