<div class="cardBg">
  <div class="flex gap-3 statsList">
    <p-tabs [value]="selectedStats.id" scrollable>
      <p-tablist>
        @for(tab of statsList; track tab.id){
        <p-tab [value]="tab.id" (click)="onStatsChange(tab)">
          {{ tab.id }}
        </p-tab>
        }
      </p-tablist>
    </p-tabs>
  </div>

  <div class="p-2">
    <div
      class="flex w-full justify-content-between align-items-center my-3"
    >
      <div class="text-xl font-semibold">{{ selectedStats?.name ?? "" }}</div>

      <div>
        <p-selectbutton
          [options]="paymentOptions"
          [(ngModel)]="value"
          optionLabel="name"
          optionValue="value"
          (ngModelChange)="onPlayerMatchChange($event)"
        />
      </div>
    </div>

    <div class="mb-5">
      <div class="text-sm lightClr pl-1 pb-1">Line</div>
      <p-inputnumber [(ngModel)]="lineVal" class="text-center" (ngModelChange)="onLineValueChange($event)" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" inputId="vertical" [inputStyle]="{ width: '5rem' }">
        <ng-template #incrementbuttonicon>
            <span class="pi pi-plus"></span>
        </ng-template>
        <ng-template #decrementbuttonicon>
            <span class="pi pi-minus"></span>
        </ng-template>
    </p-inputnumber>
    </div>

    <div class="card">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
    </div>
  </div>
</div>
