<div class="tableStyle">
  <div style="background-color: #161a31">
    <div
      class="flex justify-content-center align-items-center text-lg font-semibold py-3"
    >
      <div>Matchup Odds</div>
    </div>
  </div>
  <div class="grid align-items-center my-2 px-2">
    <div class="col-3">
        <div class="flex justify-content-between align-items-center">
            <div>MEM <span class="lightClr">( Home )</span></div>
        </div>
    </div>
    <div class="col-3">
        <div class="card flex justify-content-center flex-column align-items-center">
            <div>ML</div>
            <small>-1400</small>
            </div>
    </div>
    <div class="col-3">
        <div class="card flex justify-content-center flex-column align-items-center">
            <div>Spread</div>
            <small class="blueClr">-12.5</small>
            <small>-105</small>
            </div>
    </div>
    <div class="col-3">
        <div class="card flex justify-content-center flex-column align-items-center">
            <div>Total</div>
            <small class="blueClr">o148.5</small>
            <small>-1400</small>
            </div>
    </div>
  </div>

  <div class="grid align-items-center my-2 px-2">
    <div class="col-3">
        <div class="flex justify-content-between align-items-center">
            <div>ECU <span class="lightClr">( Away )</span></div>
        </div>
    </div>
    <div class="col-3">
        <div class="card flex justify-content-center flex-column align-items-center">
            <div>ML</div>
            <small>-1400</small>
            </div>
    </div>
    <div class="col-3">
        <div class="card flex justify-content-center flex-column align-items-center">
            <div>Spread</div>
            <small class="blueClr">-12.5</small>
            <small>-105</small>
            </div>
    </div>
    <div class="col-3">
        <div class="card flex justify-content-center flex-column align-items-center">
            <div>Total</div>
            <small class="blueClr">o148.5</small>
            <small>-1400</small>
            </div>
    </div>
  </div>
</div>
