<div class="tableStyle">
  <p-table #projectionTable [value]="projectionData" [scrollable]="true" scrollHeight="calc(100vh - 272px)" stripedRows
    (sortFunction)="customSort($event)" [customSort]="true">
    <ng-template #header>
      <tr>
        @for (col of tableColumns; track $index) {
        <th [pSortableColumn]="col?.sortFeild" class="cursor-pointer text-sm text-center" [pTooltip]="col.toolTip"
          [tooltipPosition]="col.toolTipPosition">
          {{ col.header }}
          @if (col?.sortFeild) {
          <p-sortIcon [field]="col.sortFeild"></p-sortIcon>
          }
        </th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-player>
      <tr>
        <td colspan="5">
          <div class="detailCard">
            <div class="flex gap-2 align-items-center" (click)="redirectToPlayerDetail(player)">
              <div class="statIcon font-semibold primaryTextClr">
                {{ getInitials(player.first_name + " " + player.last_name) }}
              </div>
              <div class="playerDetail cursor-pointer">
                <div class="flex align-items-center gap-2 playerName">
                  <div class="text-sm font-semibold">
                    {{ player.first_name + " " + player.last_name }}
                    <span> ({{ player.position }}) </span>
                    <span class="text-xs font-medium textClr-400">{{
                      player?.team + " @ " + player?.opponent
                      }}</span>
                  </div>
                </div>
                <div class="place lightClr text-xs textClr-500">
                  {{ capatlizeStats(player?.field) }}
                </div>
              </div>
            </div>

            <div class="flex justify-content-between mt-2">
              <div class="text-center statBox" [ngClass]="
                    returnSeverity(player?.average_last_10, 'avgLast10', player?.line)
                  ">
                <div class="lineStats">AVG</div>
                <div>{{ roundValue(player?.average_last_10) }}</div>
              </div>

              <div class="text-center text-sm statBox"
                [ngClass]="returnSeverity(player?.average_last_10_line_diff, 'diff')">
                <div class="lineStats">Diff</div>
                <div>{{ roundValue(player?.average_last_10_line_diff) }}</div>
              </div>
              <div class="text-center text-sm statBox"
                [ngClass]="returnSeverity(player?.last_5_over_line_percentage, '')">
                <div class="lineStats">L5</div>
                <div>{{ roundValue(player?.last_5_over_line_percentage) + " %" }}</div>
              </div>
              <div class="text-center text-sm statBox"
                [ngClass]="returnSeverity(player?.last_10_over_line_percentage, '')">
                <div class="lineStats">L10</div>
                <div>{{ roundValue(player?.last_10_over_line_percentage) + " %" }}</div>
              </div>
              <div class="text-center text-sm statBox"
                [ngClass]="returnSeverity(player?.last_15_over_line_percentage, '')">
                <div class="lineStats">L15</div>
                <div>{{ roundValue(player?.last_15_over_line_percentage) + " %" }}</div>
              </div>
              <div class="text-center text-sm statBox" [ngClass]="returnSeverity(player?.streak, 'streak')">
                <div class="lineStats">STRK</div>
                <div>{{ player?.streak }}</div>
              </div>
            </div>

            <div class="app mt-3">
              <img width="40px" [src]="commonS.getImageUrl(player?.casino)" />
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="5" class="text-center">
          <div class="emptyMessage">
            <h2>No Data Found</h2>
            <div>Please Try diffrent filters to see projections!</div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="card flex justify-content-center" [ngClass]="{ 'opacity-30': projectionLoader }">
    <p-paginator [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last}"
      (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[25, 50, 100]" />
  </div>
</div>
