<div class="layoutContainer">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="mainContainer">
    <app-header></app-header>


    <div class="playerDetail w-full">
       <div class="grid w-full">
        <div class="col-6">
            <div class="playerDetailCard">
                <div class="flex gap-2">
                    <div class="text-xl font-semibold">Ladd McConkey</div>
                    <div class="text-lg font-semibold lightClr">(WR)</div>
                    <div class="chip"> LAC</div>
                </div>
                

                <div class="flex gap-2 mt-2">
                    <small class="lightClr">{{"LAC @ HOC Sun @ 2:30 AM"}}</small>
                    <div class="chip2">NFL</div>
                </div>
            </div>

            <div class="firstGrap">
              <div>
                Rec Yards
              </div>

              <div>
                <p-selectbutton [options]="paymentOptions" [(ngModel)]="value"  optionLabel="name" optionValue="value" />
              </div>
            </div>
            
        </div>
        <div class="col-6">
            Hello 2
        </div>
       </div>
    </div>
  </div>
</div>
