<div class="layoutContainer">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="mainContainer">
    <app-header></app-header>


    <div class="playerDetail w-full">
       <div class="grid w-full">
        <div class="col-6">
            <div class="playerDetailCard">
                <div class="flex gap-1">
                    <div>Ladd McConkey</div>
                    <div>(WR)</div>
                    <div> LAC</div>
                </div>
                

                <div>
                    <div>{{"LAC @ HOC Sun @ 2:30 AM"}}</div>
                </div>
            </div>
            
        </div>
        <div class="col-6">
            Hello 2
        </div>
       </div>
    </div>
  </div>
</div>
