<div class="layoutContainer">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="mainContainer">
    <app-header></app-header>

    <div class="card w-full px-3">
      <div>
        <form [formGroup]="filterForm" (ngSubmit)="applyFilter(filterForm)" class="grid">
          <div class="col-6">
            <p-iconfield id="iconfield" class="w-full">
              <p-inputicon styleClass="pi pi-search" />
              <input
                type="text"
                placeholder="Search player or team..."
                class="w-full"
                formControlName="search"
                pInputText
              />
            </p-iconfield>
          </div>

          <div class="col-6">
            <p-floatlabel class="w-full" variant="on">
              <p-multiselect
                id="on_label"
                [options]="statsList"
                optionLabel="name"
                [loading]="statsLoader"
                filter
                formControlName="stats"
                
                display="chip"
                [maxSelectedLabels]="10"
                styleClass="w-full"
              />
              <label for="on_label">Select Stats</label>
            </p-floatlabel>
          </div>

          <div class="col-3">
            <p-floatlabel class="w-full md:w-80" variant="on">
              <p-multiselect
              [disabled]="true"
                id="on_label"
            
                [options]="[]"
                optionLabel="name"
                filter
                [maxSelectedLabels]="3"
                styleClass="w-full"
              />
              <label for="on_label">Apps</label>
            </p-floatlabel>
          </div>

          <div class="col-3">
            <p-floatlabel class="w-full md:w-80" variant="on">
              <p-multiselect
              [disabled]="true"
                id="on_label"
         
                [options]="[]"
                optionLabel="name"
                filter
                [maxSelectedLabels]="3"
                styleClass="w-full"
              />
              <label for="on_label">Modifiers</label>
            </p-floatlabel>
          </div>

          <div class="col-3">
            <p-floatlabel class="w-full md:w-80" variant="on">
              <p-multiselect
                id="on_label"
                [disabled]="true"
                [options]="[]"
                optionLabel="name"
                filter
                [maxSelectedLabels]="3"
                styleClass="w-full"
              />
              <label for="on_label">All Games</label>
            </p-floatlabel>
          </div>

          <div class="col-3">
            <p-floatlabel class="w-full md:w-80" variant="on">
              <p-datepicker styleClass="w-full"[disabled]="true" />
              <label for="on_label">Game Date</label>
            </p-floatlabel>
          </div>

         
        </form>
      </div>
      <div class="tableStyle">
        <p-table
          [value]="projectionData"
          [scrollable]="true"
          scrollHeight="calc(100vh - 215px)"
          stripedRows
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template #header>
            <tr>
              <th>Player</th>
              <th>Line</th>
              <th>Avg L10</th>
              <th>Diff</th>
              <th>L5</th>
              <th>L10</th>
              <th>L15</th>
              <th>Streak</th>
            </tr>
          </ng-template>
          <ng-template #body let-player>
            @if (projectionLoader) {
              <tr>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
            </tr>
            }@else {
              <tr>
                <td>
                  <div class="flex gap-2">
                    <div class="statIcon">
                      <i
                        class="pi pi-star flex justify-content-center align-items-center"
                        style="font-size: 1.2rem"
                      ></i>
                    </div>
  
                    <div
                      class="playerDetail cursor-pointer"
                      (click)="redirectToPlayerDetail(player)"
                    >
                      <div class="flex align-items-center gap-2 playerName">
                        <div class="text-md font-semibold">
                          {{ player.first_name + " " + player.last_name }} ({{
                            player.position
                          }})
                        </div>
                      </div>
                      <div class="place lightClr text-sm">
                        {{capatlizeStats(player?.stats?.field) }}
                      </div>
                    </div>
                  </div>
                </td>
                <td>{{ player?.stats?.line }}</td>
                <td
                  [ngClass]="
                    returnClass(player?.stats?.average_last_10, 'avgLast10')
                  "
                >
                  {{ roundValue(player?.stats?.average_last_10) }}
                </td>
                <td
                  [ngClass]="
                    returnClass(player?.stats?.average_last_10_line_diff, 'diff')
                  "
                >
                  {{ roundValue(player?.stats?.average_last_10_line_diff) }}
                </td>
  
                <td
                  [ngClass]="
                    returnClass(player?.stats?.last_5_over_line_percentage, '')
                  "
                >
                  {{ roundValue(player.stats?.last_5_over_line_percentage) }}%
                </td>
  
                <td
                  [ngClass]="
                    returnClass(player?.stats?.last_10_over_line_percentage, '')
                  "
                >
                  {{ roundValue(player.stats?.last_10_over_line_percentage) }}%
                </td>
  
                <td
                  [ngClass]="
                    returnClass(player?.stats?.last_15_over_line_percentage, '')
                  "
                >
                  {{ roundValue(player.stats?.last_15_over_line_percentage) }}%
                </td>
                <td
                  [ngClass]="
                    returnClass(player?.stats?.streak, 'streak')
                  "
                >
                  {{ player.stats?.streak }}
                </td>
              </tr>
            }
         
          
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
