.mainLayout {
  position: relative;
  margin: 20px;
  .sidebarContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    background-color: #183240;
    z-index: 20;
    height: calc(100vh - 40px);
    border-radius: 16px;
    overflow: hidden;
  }

  .headerContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-image: radial-gradient(circle at 0% 50%, #8D0EDF 0%,  rgb(0, 0, 0) 100%);
    align-items: center;
    padding: 0px 20px;
    z-index: 1000;
    display: none;
  }

  .mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    height: calc(100vh - 40px);
    overflow: auto;
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 850px) {
  .mainLayout {
    margin: 0px;
    .sidebarContainer {
      display: none !important;
    }
    .mainContainer {
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
    }
  }

  .headerContainer{
    display: flex !important;
  }
}
