<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus icon"></i>
    <div class="logo_name">Parly Proz</div>
  </div>
  <ul class="nav-list">
    <div class="menu_title">Analysis</div>
    <li class="item">
      <div (click)="redirect()" class="nav_link submenu_item">
        <span class="navlink_icon">
          <i class="bx bx-home-alt"></i>
        </span>
        <span class="navlink">Projections</span>
      </div>
    </li>

    <!-- <li class="item">
      <div href="#" class="nav_link submenu_item">
        <span class="navlink_icon">
          <i class="bx bx-home-alt"></i>
        </span>
        <span class="navlink">Discrepancies</span>
      </div>
    </li> -->

    <li class="item">
      <div href="#" class="nav_link submenu_item">
        <span class="navlink_icon">
          <i class="bx bx-home-alt"></i>
        </span>
        <span class="navlink">Players</span>
      </div>
    </li>

    <!-- <div class="menu_title mt-5">Community</div>
    <li class="item">
      <div href="#" class="nav_link submenu_item">
        <span class="navlink_icon">
          <i class="bx bx-home-alt"></i>
        </span>
        <span class="navlink">Trending</span>
      </div>
    </li> -->

    <li class="profile"></li>
  </ul>
</div>
