<div class="tableStyle">

  <div class="detailHead" >
    <div class="flex justify-content-center align-items-center text-lg font-semibold py-3">
        <div>Gamelog - Last 15 Games</div>
    </div>
  </div>
  <p-table
    [value]="players"
    stripedRows
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th>Opponent</th>
        <th>Pts</th>
        <th>Rebs</th>
        <th>Asts</th>
        <th>PA</th>
        <th>PR</th>
        <th>RA</th>
        <th>PRA</th>
        <th>TO</th>
      </tr>
    </ng-template>
    <ng-template #body let-stats>
      <tr>
        <td>{{stats?.opponent}}</td>
        <td>{{stats?.points}}</td>
        <td>{{stats?.rebounds}}</td>

        <td>{{stats?.assists}}</td>

        <td>{{roundValue(stats?.points + stats?.assists)}}</td>

        <td>{{roundValue(stats?.points + stats?.rebounds)}}</td>
        <td>
          {{roundValue(stats?.assists + stats?.rebounds)}}
        </td>

        <td> {{roundValue(stats?.assists + stats?.rebounds + stats?.points)}}</td>

        <td>{{stats?.turnovers}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
