.cardBg {
    border-radius: 10px;
    background-color: #0b1128;
    overflow: hidden;
    position: relative;
  
    .statsList {
      overflow: auto;
      background-color: #183240;
    }
  }
  
  // .lineINput{
  //     border: 1px solid #cbd5e1;;
  // }
  
  .successGrd {
    background: linear-gradient(
      to bottom,
      rgba(5, 150, 105, 0) 0%,
      rgba(5, 150, 105, 0.4) 60%
    );
  }
  
  .dangerGrd {
    background: linear-gradient(
      to bottom,
      rgba(220, 38, 38, 0) 0%,
      rgba(220, 38, 38, 0.4)
    );
  }
  
  .hide{
    display: block;
  }
  
  
  @media screen and (max-width: 850px) {
    .hide{
      display: none !important;
    }
  
    .grphHHeader{
      flex-direction: column;
    }
  }


  ::ng-deep{
    .p-selectbutton{
      overflow: auto !important;

      p-togglebutton{
        button{
          min-width: 93px !important;
        }
      }
    }
  }


  .order1{
    order: 1;
  }

  .order2{
    order: 2;
  }
