<div class="container flez justify-content-center mt-5">

	<div class="card">
		
		<div class="top-container">
			<div class="profile-image">LM</div>
			<div class="ml-3">
				<div class="name">Ladd McConkey <span class="lightClr">(WR)</span> </div>
				<div class="flex gap-2 mt-2">
                    <div class="chip1">LAC</div>
                    <div class="chip2">NFL</div>
                </div>
			</div>
		</div>


		<div class="middle-container flex align-items-center mt-3 p-2">
				<div class="dollar-div ">
					
					<div class="round-div">
                        <div class="flex align-items-center justify-content-center" [appSvgIcon]="'football'"></div>
                    </div>

				</div>
				<div class="flex flex-column ml-2">
					<div class="current-balance">Match Played</div>
					<div class="amount"><span class="dollar-sign"></span>1476</div>
				</div>

		</div>

		<div class="recent-border mt-4">
			<span class="recent-orders">Recent orders</span>
		</div>
		<div class="wishlist-border pt-2">
			<span class="wishlist">Wishlist</span>
		</div>
		<div class="fashion-studio-border pt-2">
			<span class="fashion-studio">Fashion studio</span>
		</div>
		
	</div>
	
</div>