.cardBg{
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;

    .statsList{
        overflow: auto;
        background-color: #ffffff;
    }
}


.lineINput{
    border: 1px solid #cbd5e1;;
}