/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  background-color: #060a1c !important;
  margin: 0;
  padding: 0;
}

input {
  padding: 12px 16px 12px 36px;
  border: none;
  border-radius: 0.7rem;
  background-color: #191f38;
}

 p-floatlabel > label{
    background-color: transparent !important;
    color: gray !important;

 }
.p-multiselect {
  background-color: #191f38 !important;
  border: none !important;
  border-radius: 0.7rem !important;

  .p-multiselect-label-container{
    padding: 3px;
  }
}

.p-datepicker-input{
  background-color: #191f38 !important;
  border: none !important;
  border-radius: 0.7rem !important;
  padding: 11px !important;
}


.p-datatable-thead > tr > th{
  background-color: #020518 !important;
  border-color: #020518 !important;
  color: #9CA3AF !important;
}


.p-datatable-tbody > tr:nth-child(odd) {
  background-color: #0B1128 !important;
  border-color:#0B1128 !important;
}

.p-datatable-tbody > tr:nth-child(even) {
  background-color: #030712 !important;
  border-color:#030712 !important;
}


.lightClr{
  color: #9CA3AF !important;
}


::-webkit-scrollbar {
  width: 4px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track background */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb background */
}

.successTd{
  color: rgb(5 150 105 )
}

.dangerTd{
  color: red
}

.warningTd{
  color: rgb(255 193 7)
}

.blueClr{
  color: #3B82F6;
}