.card {
  background-color: #183240;
    // width: 280px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem !important;
  }
  .top-container {
    display: flex;
    align-items: center;
    .profile-image {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background-color: #93c5fd33;
      border: 2px solid #9233df;
    }
    .name {
      font-size: 15px;
      font-weight: bold;
    }
    .chip1 {
      background-color: #9233df;
      color: #ffffff;
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: bold;
    }
  
    .chip2 {
      background-color: #f9a957;
      color: #ffffff;
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: bold;
    }
    .chip3 {
      background-color: #93c5fd33;
      color: #9233df;
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  
  .middle-container {
    background-color: #1c214b;
    border-radius: 12px;
    border: 1px solid #1c214b;
  }
  .middle-container:hover {
    border: 1px solid #9233df;
    cursor: pointer;
  }
  .dollar-div {
    background-color: #9233df;
    padding: 5px 8px;
    border-radius: 10px;
  }
  .round-div {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      font-size: 28px;
      background-color: #fff;
      display: flex;
      color: #000000;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .dollar {
    font-size: 16px !important;
    color: #9233df !important;
    font-weight: bold !important;
  }
  
  .current-balance {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
  }
  .amount {
    color: #9233df;
    font-size: 16px;
    font-weight: bold;
  }
  .dollar-sign {
    font-size: 16px;
    color: #272727;
    font-weight: bold;
  }
  
  .recent-border {
    border-left: 2px solid #9233df;
    display: flex;
    align-items: center;
    cursor: none;
  }
  
  .recent-orders {
    font-size: 16px;
    font-weight: 700;
    color: #9233df;
    margin-left: 2px;
  }
  
  .wishlist {
    font-size: 16px;
    font-weight: 700;
    color: #272727;
  }
  .wishlist-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
  }
  .fashion-studio {
    font-size: 16px;
    font-weight: 700;
    color: #272727;
  }
  .fashion-studio-border:hover {
    border-bottom: 1px solid #dee2e6 !important;
  }
  