.chip{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 2px 12px;
    font-size: .6rem;
    line-height: .8rem;
    border-radius: 6px;
    background-color: #1A2134;
    border: 1px solid #9e9e9e;
    cursor: pointer;
    border-color: hsla(215,27.9%,16.9%);
    font-weight: 600;
    transition: background-color 0.3s;
}