<div class="tableStyle">
    <div style="background-color: #161A31;">
        <div class="flex justify-content-center align-items-center text-lg font-semibold py-3">
            <div>Line Movement  </div>
        </div>
    
      </div>
    <p-table
      [value]="products"
      stripedRows
    >
      <ng-template #header>
        <tr>
          <th>Line</th>
          <th>App</th>
          <th>Time</th>
     
        </tr>
      </ng-template>
      <ng-template #body let-product>
        <tr>
          <td class="w-4">2.5</td>
          <td class="w-4">
            <img src="../../../assets/app1.webp">
          </td> 
          <td class="w-4">
            <div class="flex">
                <div class="flex  chip">
                    jan 11, 12:00:00 AM
                </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  